{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{%block head%}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">

{%endblock%}
<div class="container">
    <div class="row">
     {% block body%}
        <div class="col-md-4">
           
            {{super()}}
            
        </div>
        {%endblock%}
            
                
            
                {%block right%}
                    
                <div class="source  col-md-8">
                
                    <h3>Business sourcesssssssss</h3>
                    {%for source in sources%}
                    <form action="" method="post" name="source">
                    <p>source id {{source.id}}</p>
                    <p>name: {{source.name}}</p>
                    <p>description {{source.description}}</p>
                    <p>url {{source.url}}</p>
                    <p>category:{{source.category}}</p>
                    <input type="submit" name="sourceid" value="{{source.id}}"/>
                    </form>
                    {% endfor %}
                    </div>
                {%endblock%}
            
    </div>       
</div>  
   
   
    <script>
    $("#menu-toggle").cpck(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

