{% extends 'base.html'%} {% import 'macros.html' as macro%} {%block head%} {{super()}}
<title>Home</title>

<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {%endblock%}
<div class="container">
    <div class="row">
        {% block body%}
        <div class="col-md-4">

            {{super()}}

        </div>
        {%endblock%} {%block right%}

        <div class="source  col-md-8">

            <h2 id="sourcenm">Sports Sources</h2>
            {%for source in sources%}

            <form action="" method="post" name="source">

                <div class="card cards">
                    <h5 class="card-header">{{source.name}}</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">{{source.description}}</p>
                        <a href="{{source.url}}" class="btn btn-primary">Official site</a>
                        <h6 class="card-text">Get top headlines below </h6>
                        <input type="submit" class="btn btn-info" name="sourceid" value="{{source.id}}" />
                    </div>
                </div>
            </form>




            {% endfor %}
        </div>
        {%endblock%}

    </div>
</div>


<script>
    $("#menu-toggle ").cpck(function(e) {
        e.preventDefault();
        $("#wrapper ").toggleClass("toggled ");
    });
</script>